body {
  font-family: Helvetica;
  text-align: center;
}
h1, h2, h3 {
  font-weight: bold;
}
.header {
  background-image: url("../resources/images/the-flatiron-building.png");
}
h1 {
  font-size: 70px;
  color: white;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin-top: 15px;
}
a {
  font-size: 18px;
  color: white;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 23px;
}
p {
  font-size: 14px;
}
.panel {
  color: white;
  background-image: url("../resources/images/the-flatiron-building.png");
}
.footer {
  background-color: dimgray;
  text-align: left;
}
.footer li {
  font-size: 11px;
  color:white;
  display: inline;
}
